<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="<%= title %>">
        <meta name="description"  property="og:description" content="<%= description %>">
        <meta property="og:image" content="<%= img %>">
        <meta property="og:url" content="https://unccconnect.herokuapp.com/">
        <link rel="SHORTCUT ICON" href="/images/uncc.ico" />
        <title>UNCC Connect</title>
    </head>
    <body>
        First Ever Social Network for UNCC
        <script>
            console.log("pppp");
        </script>
    </body>
</html>
