<md-card flex-sm="95" flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
      <div class="header-title-flex">
        <span flex class="tiny">Blogs</span>
        <md-button class="md-primary md-raised" ng-show="isAdmin" ng-href="/blog/add">
          Create Blog
        </md-button>
      </div>
      <md-list>
        <md-item ng-repeat="item in feed">
          <aw-blog-item></aw-blog-item>
          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
        </md-item>
        <md-divider></md-divider>
        <md-item layout class="inset">
            <md-button layout layout-align="start center" flex class="md-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
            </md-button>
        </md-item>
      </md-list>
    </md-card-content>
</md-card>